In [25]:
import numpy as np 
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd

In [26]:
df = pd.read_csv(r'/Users/Michael/Desktop/GitHub/ChemPhysicsMisc/ChemPhysicsMisc/PhDWork/Data/cell1-insitu-Nb-edge-Nd-TNO_C01.txt', delimiter = "\t", header = 0, encoding= 'unicode_escape')
df.columns = ["Time (s)", "Voltage (V)", "Current (I)"]
df = df.fillna(0)
df

     Time (s)  Voltage (V)  Current (I)
0         0.0         2.08       -0.460
1        20.0         2.00       -0.463
2        40.0         1.98       -0.463
3        60.0         1.97       -0.463
4        80.0         1.95       -0.463
..        ...          ...          ...
802   16300.0         1.33        0.000
803   16300.0         0.50       -0.317
804   16300.0         0.50       -0.317
805   16600.0         1.39        0.000
806   16600.0         1.39        0.000

[807 rows x 3 columns]

In [ ]:
#Capacity
def Capacity(t1, t2, i0, i1, i2)
    cap = ((t2-t1)*(i1+i2))/2+i0
    return

In [28]:
#StartTime = 9:09AM
TOD = '2024-02-22 9:09:00'
df['TOD'] =  TOD
#+ pd.Timedelta(seconds = df[])
df['Time of Day'] = df['TOD'] + 

df

     Time (s)  Voltage (V)  Current (I)         Time of day
0         0.0         2.08       -0.460  2024-02-22 9:09:00
1        20.0         2.00       -0.463  2024-02-22 9:09:00
2        40.0         1.98       -0.463  2024-02-22 9:09:00
3        60.0         1.97       -0.463  2024-02-22 9:09:00
4        80.0         1.95       -0.463  2024-02-22 9:09:00
..        ...          ...          ...                 ...
802   16300.0         1.33        0.000  2024-02-22 9:09:00
803   16300.0         0.50       -0.317  2024-02-22 9:09:00
804   16300.0         0.50       -0.317  2024-02-22 9:09:00
805   16600.0         1.39        0.000  2024-02-22 9:09:00
806   16600.0         1.39        0.000  2024-02-22 9:09:00

[807 rows x 4 columns]

In [19]:
# create a DataFrame with datetime data
df = pd.DataFrame({'date': ['2022-06-01 12:00:00', '2022-06-02 13:00:00', '2022-06-03 14:00:00']})

# convert the date column to datetime format
df['date'] = pd.to_datetime(df['date'])

# change the datetime format
df['date_formatted'] = df['date'].dt.strftime('%Y/%m/%d %H:%M:%S')

df

                 date       date_formatted
0 2022-06-01 12:00:00  2022/06/01 12:00:00
1 2022-06-02 13:00:00  2022/06/02 13:00:00
2 2022-06-03 14:00:00  2022/06/03 14:00:00