In [67]:
import numpy as np 
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd 
import datetime

In [68]:
df = pd.read_csv(r'/Users/Michael/Desktop/GitHub/ChemPhysicsMisc/ChemPhysicsMisc/PhDWork/Data/cell1-insitu-Nb-edge-Nd-TNO_C01.txt', delimiter = "\t", header = 0, encoding= 'unicode_escape')
df.columns = ["Time (s)", "Voltage (V)", "Current (I)"]
df = df.fillna(0)
df['Time'] = pd.to_timedelta(df['Time (s)'], unit="s")

In [69]:
df['TOD'] = pd.Timedelta("0 days,  9 hours 9 min")
df['TOD2'] = df['TOD'] + df['Time']
df

,Time (s),Voltage (V),Current (I),Time,TOD,TOD2
0,0.0,2.08,-0.460,0 days 00:00:00,0 days 09:09:00,0 days 09:09:00
1,20.0,2.00,-0.463,0 days 00:00:20,0 days 09:09:00,0 days 09:09:20
2,40.0,1.98,-0.463,0 days 00:00:40,0 days 09:09:00,0 days 09:09:40
3,60.0,1.97,-0.463,0 days 00:01:00,0 days 09:09:00,0 days 09:10:00
4,80.0,1.95,-0.463,0 days 00:01:20,0 days 09:09:00,0 days 09:10:20
...,...,...,...,...,...,...
802,16300.0,1.33,0.000,0 days 04:31:40,0 days 09:09:00,0 days 13:40:40
803,16300.0,0.50,-0.317,0 days 04:31:40,0 days 09:09:00,0 days 13:40:40
804,16300.0,0.50,-0.317,0 days 04:31:40,0 days 09:09:00,0 days 13:40:40
805,16600.0,1.39,0.000,0 days 04:36:40,0 days 09:09:00,0 days 13:45:40
806,16600.0,1.39,0.000,0 days 04:36:40,0 days 09:09:00,0 days 13:45:40